<table class="tableC" symmary="companies">
    <th style="visibility: hidden;"></th>
    <tr style="display: grid; grid-template-columns: repeat(3, 1fr)">
        <td *ngFor="let company of companies">
            <div class="card">
                <div class="card-body text-center">
                    <div class="job-box d-md-flex align-items-center justify-content-between mb-30"
                        style="margin-bottom: 3em">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap" style="margin-right:1em; margin-left: 1em;">
                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                {{company.name.charAt(0)}}{{company.name.charAt(1)}}
                            </div>
                            <h1 style="font-weight: bold; margin-left: 0.8em; margin-bottom: 0.5em;">{{company.name}}</h1>
                        </div>
                    </div>
                    <hr style="margin-top: -3em;">
                    <ngb-rating style="color:blue" [max]="5" [(rate)]="company.rating" [readonly]="true">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                          </ng-template>
                    </ngb-rating>
                    <hr>
                    <p class="card-text">
                        {{company.address}} <i class="fa fa-map-marker" aria-hidden="true"></i> <br>
                        {{company.website}} <i class="fa fa-globe" aria-hidden="true"></i><br>
                        {{company.phoneNumber}} <i class="fa fa-phone" aria-hidden="true"></i> <br>
                        {{company.email}} <i class="fa fa-envelope" aria-hidden="true"></i><br>
                        <br>
                        <br>
                        <span class="descriptionSpan">{{company.description}}</span><br>
                        <br>
                    </p>
                    <button *ngIf="isLoggedIn()" type="button" class="btn btn-primary" routerLink="/employer-company/{{company.id}}">Details</button>
                </div>
            </div>
        </td>
    </tr>
</table>