<div class="wrapper fadeInDown" *ngIf="!hasCompany">
    <!--ako nema kompaniju ova forma-->
    <div id="formContent">
        <h1 class="heading">Registration</h1>
        <br />
        <p class="list">Why you should register?</p>
        <ul class="list">
            <li>To have an insight into all the ratings and impressions without limitation</li>
            <li>To present your company in the best way and thus attract potential candidates</li>
            <li>That you can respond to user impressions</li>
        </ul>

        <form #credentials="ngForm">
            <h1 class="heading">Company</h1>
            <input type="text" id="name" class="fadeIn second" name="name" placeholder="Company name" ngModel />
            <input type="text" id="website" class="fadeIn third" name="website" placeholder="Website" ngModel />
            <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email" ngModel />
            <input type="text" id="phoneNumber" class="fadeIn third" name="phoneNumber" placeholder="Phone number"
                ngModel />
            <input type="text" id="address" class="fadeIn second" name="address" placeholder="Address" ngModel />
            <textarea class="form-control" id="description" name="description" placeholder="Description"
                rows="6"></textarea>
            <input type="submit" class="fadeIn fourth" value="Send request" />
        </form>
    </div>
</div>

<div class="company" *ngIf="hasCompany">
    <img class="captionImage" src="../../assets/img/caption.jpg" />
    <div class="descriptionDiv">
        <h1>{{company.name}}
            <span class="rating"><i class="fa fa-star" aria-hidden="true"></i>{{company.rating}}</span>
        </h1>
        {{company.address}}
    </div>
    <nav id="navbar" class="navbar" style="margin-left: -60em; margin-top:-7em">
        <ul>
            <li class="listItem"><a class="nav-link scrollto" [routerLink]="['/employer-company', { outlets: { 'company-details': ['about-company'] } }]" style="cursor: pointer;">About</a></li>
            <li class="listItem"><a class="nav-link scrollto" [routerLink]="['/employer-company', { outlets: { 'company-details': ['comments-company'] } }]" style="cursor: pointer;">Comments</a></li>
            <li class="listItem"><a class="nav-link scrollto" [routerLink]="['/employer-company', { outlets: { 'company-details': ['salary-company'] } }]" style="cursor: pointer;">Salary</a></li>
            <li class="listItem"><a class="nav-link scrollto" [routerLink]="['/employer-company', { outlets: { 'company-details': ['interview-company'] } }]" style="cursor: pointer;">Interview</a></li>
            <li class="listItem"><a class="nav-link scrollto" routerLink="" style="cursor: pointer;">Job offers</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <router-outlet name="company-details"></router-outlet>

</div>