<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
    integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

<div class="container" *ngIf="!addingJob">
    <button *ngIf="isOwner"  type="button" class="btn btn-primary" id="addJob" (click)="addJob()" style="background-color: #56baed;border-color: #56baed;">Add job</button>

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">

                <div class="filter-result">

                    <div class="job-box d-md-flex align-items-center justify-content-between mb-30"
                        style="margin-bottom: 3em" *ngFor="let offer of jobOffers">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                {{offer.title.charAt(0)}}{{offer.title.charAt(1)}}
                            </div>
                            <div class="job-content">
                                <h3 class="text-center text-md-left" style="margin-left: 1em; margin-top: 1.5em;">
                                    {{offer.title}}</h3>
                                <ul>
                                    <li class="mr-md-4" style="margin-left: 1em">
                                        <i class="zmdi zmdi-money mr-2"></i> {{offer.position}}
                                    </li>
                                    <br />
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-time mr-2"
                                            style="margin-left: 0.6em; margin-bottom: -1.5em;"></i>
                                        {{offer.description}}
                                    </li>
                                </ul>
                                <button *ngFor="let requirement of offer.requirements" value="requirement"
                                    class="reqBtn">{{requirement}}</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

</div>

<div class="addJob" *ngIf="addingJob">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <i class="fa fa-close" aria-hidden="true" (click)="exitAddJob()"
                style="position: relative; left: 14em; bottom: 3em;"></i>
            <form [formGroup]="addJobForm">
                <input type="text" class="fadeIn second" placeholder="Title" formControlName="title">
                <input type="text" class="fadeIn second" placeholder="Position" formControlName="position">
                <input type="text" class="fadeIn second" placeholder="Description" formControlName="description">
                <input type="text" class="fadeIn second" placeholder="Requirement" formControlName="requirement"
                    style="width: 75%">
                <button type="button" class="btn btn-primary" id="addRequirement" (click)="addRequirement()"><i
                        class="fa fa-plus" aria-hidden="true"></i></button>
                <table class="reqTable" *ngIf="requirements.length != 0">
                    <tr class="reqHead">
                        <th class="caption">Requirements</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let requirement of requirements; let i = index" class="reqBody">
                        <td class="content">{{requirement}}</td>
                        <td class="button">
                            <button type="button" class="btn btn-danger" (click)="deleteRequirement(i)"><i
                                    class="fa fa-close" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </table>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-left: 30%; margin-right: -25%; padding: 2.3%; margin-top: 2%;">
                    <label class="form-check-label" for="exampleCheck1" style="margin-top: 2%">Share on dislinkt</label>
                </div>
                <input type="submit" class="fadeIn fourth" value="Add job" (click)="addNewJob()" />
            </form>
        </div>
    </div>

</div>