  <!-- ======= Header ======= -->
  <header id="header" class="sticky-top">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo"><img src="/assets/img/logo.jpg" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li *ngIf="!isLoggedIn()"><a class="nav-link scrollto " routerLink="" style="cursor: pointer;">Main Page</a></li>
          <li *ngIf="isAdmin()"><a class="nav-link scrollto " routerLink="/registration-requests" style="cursor: pointer;">Registration requests</a></li>
          <li *ngIf="!isAdmin()"><a class="nav-link scrollto " routerLink="/companies" style="cursor: pointer;">Companies</a></li>
          <li *ngIf="isLoggedIn()"><a class="nav-link scrollto" routerLink="/change-password" style="cursor: pointer;">Change password</a></li>
          <li *ngIf="isLoggedIn()"><a class="nav-link scrollto" routerLink="/two-factor" style="cursor: pointer;">Two factor</a></li>
          <li *ngIf="isOwner()"><a class="nav-link scrollto " routerLink="/api-token" style="cursor: pointer;">Api token</a></li>
          <li *ngIf="!isAdmin() && isLoggedIn()"><a class="nav-link scrollto " (click) = "changeRoute()" style="cursor: pointer;">For employers</a></li>
          <div class="vl"></div>
          <li *ngIf="!isLoggedIn()"><a class="nav-link scrollto" (click)="registration()" style="cursor: pointer;">Join now</a></li>
          <li *ngIf="!isLoggedIn()"><a class="nav-link scrollto " (click)="login()" style="cursor: pointer;">Sign in</a></li>
          <li *ngIf="isLoggedIn()"><a class="nav-link scrollto " (click)="logout()" style="cursor: pointer;">Log out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
