<div class="container">
    <div class="page-profile">
        <div class="row">
            <!-- COL 1 -->
            <div class="col-md-3">
                <section class="panel">
                    <div class="panel-body noradius padding-10">
                        <figure class="margin-bottom-10">
                        </figure><!-- /image -->

                        <hr class="half-margins">

                        <button type="button" class="btn btn-primary">Registruj kompaniju</button>

            </div>
            </section>
        </div><!-- /COL 1 -->



    </div>
</div>
</div>